.bg-success {
    background-color: rgba(17, 206, 25, 0.8);
    padding: 10px 8px;
    border-radius: 10px;
}

.bg-danger {
    background-color: rgba(204, 16, 16, 0.8);
    padding: 10px 8px;
    border-radius: 10px;
}